{% extends 'base.html' %}

{% block 'content' %}

<h2>Welcome</h2>

<a href="/files/Sujet.pdf">Sujet.pdf</a>  

The code to be used as a starting point can be found here: 
<ul>
	<li>
		<a href="/files/projet.zip">
			 projet.zip
		</a>
	</li>
</ul>

An introduction to sockets can be found here:
<ul>
	<li>
		<a href="/files/socket.pdf">
			Sockets.pdf
		</a>
	</li>
</ul>


A description of the game protocol can be found here:
<ul>
	<li>
		<a href="https://github.com/drazvan/Connect-IG4/wiki/Game-Protocol">
			https://github.com/drazvan/Connect-IG4/wiki/Game-Protocol
		</a>
	</li>
</ul>


A description of the server's API can be found here: 
<ul>
	<li>
		<a href="https://github.com/drazvan/Connect-IG4/wiki/Server-API">
			https://github.com/drazvan/Connect-IG4/wiki/Server-API
		</a>
	</li>
</ul>

<br/>
The main code for the server's API can be found here:

<ul>
	<li>
		<a href="https://github.com/drazvan/Connect-IG4/blob/master/src/api.py">
			https://github.com/drazvan/Connect-IG4/blob/master/src/api.py
		</a>
	</li>
</ul>


{% endblock %}