{% extends 'base.html' %}

{% block 'content' %}

<h2>Welcome</h2>


A description of the server's API can be found here: 
<ul>
	<li>
		<a href="https://github.com/drazvan/Connect-IG4/wiki/Server-API">
			https://github.com/drazvan/Connect-IG4/wiki/Server-API
		</a>
	</li>
</ul>

<br/>
The main code for the server's API can be found here:

<ul>
	<li>
		<a href="https://github.com/drazvan/Connect-IG4/blob/master/src/api.py">
			https://github.com/drazvan/Connect-IG4/blob/master/src/api.py
		</a>
	</li>
</ul>


{% endblock %}